@model IEnumerable<WatchStore.Models.Watch>

@{
    ViewBag.Title = "Watches";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title | Watch Store</title>
    <link rel="icon" href="https://png.pngtree.com/png-vector/20191021/ourlarge/pngtree-w-letter-logo-design-png-image_1770441.jpg" type="image/x-icon">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>

<body style="margin-top:8rem;">
    <h2>Watches</h2>


    <form id="formSearch" method="post">
        <div class="row" id="SearchBox">
            <div class="col-md-2"> Watch Name</div>
            <div class="col-md-2"> <input type="text" id="name" name="name" style="color:black;" /></div>
            <div class="col-md-1">  </div>
        </div>

        <div class="row" id="SearchBox">
            <div class="col-md-2"> Watch Type</div>
            <div class="col-md-2"> <input type="text" id="type" name="type" style="color:black;" /></div>
            <div class="col-md-1"> <input type="submit" id="submitsearch" value="Search" style="color:black;" /></div>
        </div>
        <div class="row" id="SearchBox">
            <div class="col-md-2"> Watch Price</div>
            <div class="col-md-2"> <input type="text" id="price" name="price" style="color:black;" /></div>
        </div>
    </form>

    <br />
    <button>
        @Html.ActionLink("Watch Type Grouping", "Group")
    </button>

    <hr />


    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WatchName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WatchType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resistant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.WatchName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WatchType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Resistant)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.WatchID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.WatchID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.WatchID })
                </td>
            </tr>
        }

    </table>
</body>