@model IEnumerable<WatchStore.Models.Deal>
@{ ViewBag.Title = @TempData["name"]; }
@using WatchStore.Controllers
@using WatchStore.Models

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title | Watch Store</title>
    <link rel="icon" href="https://png.pngtree.com/png-vector/20191021/ourlarge/pngtree-w-letter-logo-design-png-image_1770441.jpg" type="image/x-icon">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>

    <div class="multi-column" style="column-count: 2;">
        <div>
            <h1 style="margin-top:7rem; color:white;">Welcome @TempData["name"]!</h1>
            <h2>Your Watches</h2>
        </div>
        <aside>
            <canvas id="myCanvas" width="150" height="150" style="margin-top:5rem; margin-left:27rem;">
                <img id="admin" width="0" height="0" src="https://cdn1.iconfinder.com/data/icons/free-98-icons/32/user-512.png">
            </canvas>
        </aside>
    </div>

    <table id="table" class="table" style="background-color:black;">
        <tr>
            <th>
                Watch Name
            </th>
            <th>
                Watch Type
            </th>
            <th></th>
        </tr>

        @foreach (var v in ViewBag.data as ICollection<Asset>)
        {
<tr>
    <td>
        @v.assetName
    </td>
    <td>
        @v.assetType
    </td>
</tr>}

    </table>

    @if (@TempData["sugType"] == null)
    {
                           <h3>The BEST Watch for you is - @ViewBag.type ! </h3>

                                <div class="w3-row-padding">
                @foreach (var item in Model.Where(d => d.Client.ClientFirstName.Equals(@TempData["name"]) && d.Watch.WatchType.Equals((@ViewBag.Type))))
                {
                    <div class="w3-third w3-container w3-margin-bottom">
                        @if (item.Watch.Brand.Equals("Seiko"))
                        {
                    <img id="@item.Watch.WatchID" src="https://www.royalty.me/cache/w_1000,h_932,mode_crop/prospex%201700.jpg" style="width: 357px; height: 250px;" class="w3-hover-opacity">}
                        @if (item.Watch.Brand.Equals("Omega"))
                        {
                    <img id="@item.Watch.WatchID" src="https://k8q7r7a2.stackpathcdn.com/wp-content/uploads/2018/11/The-Seamaster-Chronicles-%E2%80%93-Part-2-How-the-Omega-Seamaster-Became-an-Icon-With-CEO-Raynald-Aeschlimann-and-Auctioneer-Thomas-Perazzi.jpg" style="width: 357px; height: 250px;" class="w3-hover-opacity">}
                        @if (item.Watch.Brand.Equals("Apple"))
                        {
                    <img id="@item.Watch.WatchID" src="https://filthylucre.com/wp-content/uploads/2019/08/dreamstime_xl_122537881.jpg" style="width: 357px; height: 250px;" class="w3-hover-opacity">}
                        <div class="w3-container w3-black" style="width:357px;">
                            <h5><b>@Html.DisplayFor(modelItem => item.Watch.WatchName) - @Html.DisplayFor(modelItem => item.Watch.WatchType) | @Html.DisplayFor(modelItem => item.Watch.Gender)</b></h5>
                            <p><b from>@Html.DisplayFor(modelItem => item.Watch.Brand) | Water Resistant @Html.DisplayFor(modelItem => item.Watch.Resistant) </b></p>
                      </div>
                     </div>
                  }
            </div>

     }
    else
    {
                                       <h3>Your Favorite Watch Type is - @TempData["sugType"].ToString()  ! </h3>
                                         <div class="w3-row-padding">
                     @foreach (var item in Model.Where(d => d.Client.ClientFirstName.Equals(@TempData["name"]) && d.Watch.WatchType.StartsWith((@TempData["sugType"].ToString()))))
                {
                    <div class="w3-third w3-container w3-margin-bottom">
                        @if (item.Watch.Brand.Equals("Seiko"))
                        {
                    <img id="@item.Watch.WatchID" src="https://www.royalty.me/cache/w_1000,h_932,mode_crop/prospex%201700.jpg" style="width: 357px; height: 250px;" class="w3-hover-opacity">}
                        @if (item.Watch.Brand.Equals("Omega"))
                        {
                    <img id="@item.Watch.WatchID" src="https://k8q7r7a2.stackpathcdn.com/wp-content/uploads/2018/11/The-Seamaster-Chronicles-%E2%80%93-Part-2-How-the-Omega-Seamaster-Became-an-Icon-With-CEO-Raynald-Aeschlimann-and-Auctioneer-Thomas-Perazzi.jpg" style="width: 357px; height: 250px;" class="w3-hover-opacity">}
                        @if (item.Watch.Brand.StartsWith("Apple"))
                        {
                    <img id="@item.Watch.WatchID" src="https://filthylucre.com/wp-content/uploads/2019/08/dreamstime_xl_122537881.jpg" style="width: 357px; height: 250px;" class="w3-hover-opacity">}
                        <div class="w3-container w3-black">
                            <h5><b>@Html.DisplayFor(modelItem => item.Watch.WatchName) - @Html.DisplayFor(modelItem => item.Watch.WatchType) | @Html.DisplayFor(modelItem => item.Watch.Gender)</b></h5>
                            <p><b from>@Html.DisplayFor(modelItem => item.Watch.Brand) | Water Resistant @Html.DisplayFor(modelItem => item.Watch.Resistant) </b></p>
                      </div>
                     </div>
                  }
            </div>

    }



    <script>
        window.onload = function () {
            var c = document.getElementById("myCanvas");
            var ctx = c.getContext("2d");
            var img = document.getElementById("admin");
            ctx.drawImage(img, 10, 10, 150, 150);
        }
    </script>
</body>









